/* <a> elementos com um atributo de título  */
a[title] {
  color: red;
}

/* <a> elementos combinando com um href "https://example.org" */
a[href="https://example.org"]
{
  color: green;
}

/* <a> elementos com um href contendo "example" */
a[href*="example"] {
  font-size: 2em;
}

/* <a> elementos com href terminando em ".org" */
a[href$=".org"] {
  font-style: italic;
}
